<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="utf-8">
	    <title>Casino To Go</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <link rel="stylesheet" href="./bootstrap.css" media="screen">
	    <link rel="stylesheet" href="../assets/css/bootswatch.min.css">
	    <link rel="stylesheet" href="../stylesheets/index.css">
	    <script src="../javascripts/index.js"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.5/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
		<script src="../javascripts/demoDB.js"></script>
		<script src="../javascripts/myApp.js"></script>
		<script src="../javascripts/controllers/MainController.js"></script>

	</head>
	<body ng-app="myApp">	
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
			<div class="bs-component">
			  <ul class="nav nav-pills">
			    <li>
			    	<a href="#moveTab" data-toggle="pill">Moves</a>
			    </li>
			    <li>
			    	<a href="#musicTab" data-toggle="pill">Music</a>
			    </li>
			    <li>
			    	<a href="#calendarTab" data-toggle="pill">Calendar</a>
			    </li>
			    <li>
			    	<a href="#newsTab" data-toggle="pill">News</a>
			    </li>
			  </ul>
		    </div>
		  </div>
		</nav>

        <div class="tab-content">
        	<div class="tab-pane active" id="moveTab">
			    <div id = "videoPlayer" class="responsiveFrameContainer" ng-controller="MainController">
					<iframe class = "responsiveFrame" id = "videoFrame" ng-src="{{ link }}" frameborder="0" allowfullscreen>
					</iframe>
				</div>
				<br>
				<div class="col-lg-6" ng-controller="MainController">
				    <div class="input-group">
				      <input type="text" id="searchBox" class="form-control" placeholder="Search for...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button" ng-click="searchForMove()">Go!</button>
				      </span>
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				<br>
				<div id = "moveInput" ng-controller="MainController">
					<input type="text" id = "titleInput" placeholder = "Title">
					<input type="text" id = "startsWithInput" placeholder ="Starts with . . . ">
					<input type="text" id = "levelInput" placeholder ="Level">
					<input type="text" id = "rueda" placeholder ="Rueda move?">
					<input type="text" id = "url" placeholder= "URL">
					<button type="button" ng-click="pushDB()">Add move</button>
				</div>
				<div class="col-lg-4" ng-controller="MainController" id="movesHeading">
		            <h2 id="nav-pills"></h2>
		            <div class="bs-component">
		              <ul class="nav nav-pills" data-toggle="pill">
		                <li><a href="#movesHeading" id = "allMovesTab" ng-click="queriedMoves.length = 0; updateMoves(allDataMoves); keys.length = 0; showMoves()">All</a>
		                </li>
		                <li><a href="#movesHeading" id = "startsWithTab" ng-click="queriedMoves.length = 0; updateMoves(startsWithMoves); getKeys(); hideMoves()">Starts with</a></li>
		                <li><a href="#movesHeading" id = "levelTab" ng-click="queriedMoves.length = 0; updateMoves(levelMoves); getKeys(); hideMoves()">Level</a></li>
		                <li><a href="#movesHeading" id = "ruedaTab" ng-click="queriedMoves.length = 0; updateMoves(ruedaMoves); getKeys(); hideMoves()">Rueda</a></li>
		              </ul>
		            </div>
		        </div>
		        <div id = "movesSection">
			        <div class="list-group" ng-controller="MainController">
			        	<a href="#moves" class="list-group-item" ng-click="updateMovesWithoutSaving(queriedMoves); updateMovesWithCategoryChange(category); showMoves()" ng-repeat="category in keys">{{ category }}</a>
			        </div>


					<div id = "moves" class="list-group" ng-controller="MainController">
						<h3>Moves</h3>
					  	<a href="#videoPlayer" class="list-group-item" ng-repeat="move in moves" ng-click=" toggle($index); updateVideoLink($index)">{{ move.title }}
					  	</a>
					</div>
				</div>
			</div>
			<div class="playListContainer" id="musicTab">
				<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1220695495%3Aplaylist%3A0dgZU4SZKQsMuCLSjtvgXf" width="640px" height="720px" frameborder="0" allowtransparency="true" id="playlist"></iframe>
			</div>
			<div class="tab_pane responsiveFrameContainer" id = "calendarTab">
				<iframe class = "responsiveFrame" src="https://www.google.com/calendar/htmlembed?mode=AGENDA&height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=e3vcputhi5ub27o6istkfgsltg%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FNew_York" style=" border-width:0 " width="400" height="300" frameborder="0" scrolling="no"></iframe>
			</div>
<!-- 			<div class="tab_pane" id = "newsTab">
				<h4>News</h4>
				<div class="list-group">
				  <a href="#" class="list-group-item active">
				    Abanico
				  </a>
				  <a href="#" class="list-group-item">Balsero
				  </a>
				  <a href="#" class="list-group-item">Croqueta y aspirina
				  </a>
				  <a href="#" class="list-group-item">Dame stigmata
				  </a>
				  <a href="#" class="list-group-item">Evelyn
				  </a>
				</div>
			</div> -->
		</div>




	</body>

</html>
